@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';

body {
  font-family: 'Roboto Mono', monospace;
  height: 100vh;
}

.headerbox {
  background: #212121;
}
.whiteicon {
  color: #fff;
  width: 50px;
  height: 50px;
}

.ball {
    position: sticky;
    border-radius: 100%;
    opacity: 1;
  }


